:root {
  --orange: hsl(25, 97%, 53%);
  --White: hsl(0, 0%, 100%);
  --lightGrey: hsl(217, 12%, 63%);
  --mediumGrey: hsl(216, 12%, 54%);
  --darkBlue: #252d37;
  --veryDarkBlue: #121417;
  --size: 45px;
}


*,
*::after,
*::before {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Overpass', sans-serif;
  background-color: var(--veryDarkBlue);
}


.wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 295px;
  background: rgb(37, 45, 55);
  height: 305px;
  border-radius: .8rem;
  padding: 1.8rem;
}

.card__thank{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.card__thank h5{
  background-color:var(--darkBlue);
  padding: .1rem .4rem;
  border-radius: 1rem;
  color:var(--orange);
  font-size: 10px;
  font-weight: 500;
}
.round {
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  background-color: var(--darkBlue);
}

.card__icon_star {
  background-image: url(/src/assets/icon-star.svg);
  background-position: center center;
  background-size: 35%;
  background-repeat: no-repeat;
}

.card__icon_mobile{
  width: 130px;
  height: 130px;
  background-image: url(/src/assets/illustration-thank-you.svg);
  background-position: center center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.card__info {
  margin: 1.3rem 0;

}

.card__info h3 {
  color: var(--White);
  margin-bottom: .5rem;
  font-size: 1.4rem;
}

.card__info p {
  font-size: 15px;
  line-height: 1.3rem;
  color:var(--mediumGrey)
}

ul {
  list-style-type: none;
}

.rating {
  display: flex;
  justify-content: space-between;
  margin: 1.5rem 0;
}

.rating__element {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .8rem;
  color: var(--mediumGrey);
  transition: 300ms ease-in-out;
}

.rating__element:hover {
  background-color: var(--orange);
  color: white;
  cursor: pointer;
}

.rating__element:active.rating__element:hover {
  transform: scale(10px);
  background-color: var(--lightGrey);
}

.btn {
  display: block;
  width: 100%;
  padding: 1rem;
  border: none;
  border-radius: 1.7rem;
  background-color: var(--orange);
  font-size: .8rem;
  letter-spacing: .19rem;
  font-weight: 700;
  color: var(--White);
  transition: 200ms ease-in-out;
}

.btn:hover {
  cursor: pointer;
  background-color: var(--White);
  color: var(--orange)
}

.active{
  color:var(--White);
  background-color: var(--mediumGrey);
}